<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center ">
		<div class="text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
		    <p>
				Start collecting your contacts in a smarter, more efficient way. <br>
				Our solution offers an advanced method for managing your contacts seamlessly.
			</p>
			<button class="btn bg-primary btn-lg text-white" onclick=
			"window.location.href = 'http://localhost:8080/signin';">Let's Go</button>
			
		</div>
	</section>
</body>
</html>